doctype html
html
  head
    title Task Management Application
    link(rel='stylesheet', href='/style.css')
    script(src='https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js') // Add Axios for making API requests
  body
    header
      p#weather-container Weather: Loading...
    script(src='/dist/weatherAPI.bundle.js') // Include the bundled weatherAPI.js here
  block content
