body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  text-align: center;
}

button {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

button + button {
  margin-left: 10px;
}

input[type="text"],
input[type="number"],
select {
  width: 50%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 4%;
}
.filter-options {
  display: flex;
  margin-right: 2%;
  margin-bottom: 2%;
}
.form-container {
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
}

label {
  font-weight: bold;
}

input[type="text"] {
  padding: 5px;
  margin-right: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f2f2f2;
}

.completed {
  color: green;
  font-weight: bold;
}

.incomplete {
  color: red;
  font-weight: bold;
}

.action-btn {
  margin-right: 5px;
  padding: 5px 10px;
  text-decoration: none;
  color: white;
  border-radius: 4px;
}

.edit-btn {
  background-color: #007bff;
}

.delete-btn {
  background-color: #dc3545;
}

.mark-complete {
  display: block;
  margin-top: 5px;
  color: blue;
}

.task {
  margin-bottom: 0;
}

.filters {
  display: flex;
  gap: 15px;
}
